@import "../../../styles/variables.scss";

.SideNavButton {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 19px;
  background-color: $color-bg;
  border-radius: 6px;
  padding: 12px 24px;
  margin-bottom: 24px;

  img {
    width: 24px;
  }

  span {
    margin-left: 20px;
  }
}
