.Options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;

  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .mic,
  .queue,
  .platform {
    margin-right: 14px;
  }

  .volumeBar {
    width: 116px;
    height: 5px;
    background-color: #c4c4c4;
    border-radius: 2px;
    margin: 0 10px;
  }
}
