// Colors
$color-sidebar: #000000;
$color-bg: #282828;
$color-bg-light: #303030;
$color-bg-dark: #161616;
$color-spotify-green: #1b9145;
$color-text-light: #ffffff;

// Fonts
$font-family-base: "DM Sans", sans-serif;

// Rounded corners
$border-radius: 0.25rem;

// Sizes
$sidebar-width: 300px;
$footer-height: 112px;
